<div class="about-page">
    <div class="info-text">
        Joel Hale began life in Altadena, California. His father was a gymnast and erected bars and
        equipment in the backyard. He spent many years in gymnastics as a competitor, and as a high-level coach,
        with training in Moscow. His gymnastics career led to TV news interviews and a prime-time appearance.
        <br/><br/>
        While working part-time at lumberyard in Los Angeles, Joel supplemented his income
        by doing back flips for quarters. That led to a prime-time television appearance when he was
        discovered by one of the hosts of George Schlatter's Real People who came in to buy a screen door.
        As bachelor number two on The Dating Game, he won a week in London.
        <br/><br/>
        He took a brief hiatus from gymnastics to experience living off the land in the Yukon Wilderness.
        After a career change, he became a software engineer, contracted by the Department of Defense and
        other organizations. Hungering for competition, Joel discovered swing dancing and travelled
        internationally for competition. His daughter and granddaughter were competitive gymnasts and swing dancers also.
        <br/><br/>
        Additionally, Joel has worked construction and has been published in two technical
        gymnastics journals. Currently, he is a novelist and lives in Walnut Creek, California.
    </div>
    <div class="about-columns">
        <div class="about-links" style="flex: 1;">
            <div><a href="https://www.amazon.com/stores/Joel-Hale/author/B0G4SKP1QB" target="_blank">Amazon Author Page</a></div>
            <div><a href="https://www.goodreads.com/author/show/61962251.Joel_Hale" target="_blank">Goodreads Profile</a></div>
            <div><a href="https://www.linkedin.com/in/joel-hale" target="_blank">Linked In: Joel Hale</a></div>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/6UPxGLQbxC8"
                title="Real People"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/mLV8y8donA8"
                title="The Dating Game"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/uoNdVKOLTMc"
                title="swing dancing"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/hIdkcjX1aPg"
                title="funniest joke ever told, ever"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div style="flex: 1;">
            <img src="/media/handstand2.jpg" alt="Author Joel Hale" title="handstand at Montana de Oro State Park in 1992, NOT AI"
                style="max-width: 40% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
            <img src="/media/JFHFrasersRidge.png" alt="Author Joel Hale" title="the author at Fraser's Ridge, NC, in 2025 even though the place doesn't actually exist"
                style="max-width: 58% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
            <img src="/media/JFHRonnieLeahDommi01.jpg" alt="Author Joel Hale"  title="the author and three of the characters (AI) in the second novel laughing after hearing Ronnie's rendition of the whale joke"
                style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
            <img src="/media/JFHAndRonnie00.jpg" alt="Author Joel Hale"  title="the author discussing with AI Ronnie, the main character in the novels, her story arc through the books"
                style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
            <img src="/media/straddlel.jpg" alt="Author Joel Hale"  title="straddle L at Santa Monica Beach in 1998, NOT AI"
                style="max-width: 100% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>

        </div>
    </div>

</div>