<div class="about-page">
    <div class="title">About The Author</div>
    <div class="about-content-text">
        Joel Hale was a competitive gymnast and diver in college. He coached gymnastics at a high level as a career until 2000. He developed software to assist with workout analysis and tracking for gymnasts. In 2000, He switched careers and became a software engineer. He's appeared on TV a few times in his capacity as a gymnast and coach. He's been published several times in gymnastics technical journals. He was also a competitive swing dancer for many years. He is an amateur musician and songwriter.
    </div>
    <div class="about-links">
        
        <div><a href="https://www.goodreads.com/author/show/14519145.Joel_Hale" target="_blank">Goodreads Profile</a></div>
        <div><a href="https://www.amazon.com/Joel-Hale/e/B00SNM3V8E" target="_blank">Amazon Author Page</a></div>
        <div><a href="https://www.linkedin.com/in/joel-hale" target="_blank">Linked In: Joel Hale</a></div>
        <div><a href="https://www.youtube.com/watch?v=6UPxGLQbxC8" target="_blank">Real People</a></div>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/6UPxGLQbxC8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <div><a href="https://www.youtube.com/watch?v=mLV8y8donA8" target="_blank">The Dating Game</a></div>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/mLV8y8donA8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <div><a href="https://www.youtube.com/watch?v=uoNdVKOLTMc" target="_blank">Swing Dancing</a></div>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/uoNdVKOLTMc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>