<div class="about-page">
    <div class="info-text">
        Joel Hale was a competitive gymnast and diver in college. He coached gymnastics at a high level as a career until 2000. 
        He developed software to assist with workout analysis and tracking for gymnasts. In 2000, 
        he switched careers and became a software engineer. He's appeared on TV a few times in his capacity as a gymnast and coach. 
        He's been published several times in gymnastics technical journals. He was also a competitive swing dancer for many years. 
        He is an amateur musician and songwriter. One of his biggest pet peeves is people who write about themselves in the third person.
    </div>
    <div class="about-columns">   
        <div class="about-links" style="flex: 1;">        
            <div><a href="https://www.goodreads.com/author/show/61962251.Joel_Hale" target="_blank">Goodreads Profile</a></div>
            <div><a href="https://www.amazon.com/Joel-Hale/e/B00SNM3V8E" target="_blank">Amazon Author Page</a></div>
            <div><a href="https://www.linkedin.com/in/joel-hale" target="_blank">Linked In: Joel Hale</a></div>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/6UPxGLQbxC8"
                title="Real People"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/mLV8y8donA8"
                title="The Dating Game"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/uoNdVKOLTMc"
                title="swing dancing"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <iframe width="250" height="200"
                src="https://www.youtube.com/embed/hIdkcjX1aPg"
                title="funniest joke ever told, ever"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div style="flex: 1;">
            <img src="/media/handstand2.jpg" alt="Author Joel Hale" title="handstand at Montana de Oro State Park in 1992, NOT AI"
                style="max-width: 100% ; max-height: 400px ; margin-top: 20px ;"/>
            <img src="/media/JFHFrasersRidge.png" alt="Author Joel Hale" title="the author at Fraser's Ridge, NC, in 2025 even though the place doesn't actually exist"
                style="max-width: 100% ; max-height: 400px ; margin-top: 20px ;"/>
            <img src="/media/JFHRonnieLeahDommi01.jpg" alt="Author Joel Hale"  title="the author and three of the characters (AI) in the second novel laughing after hearing Ronnie's rendition of the whale joke"
                style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;"/>   
            <img src="/media/JFHAndRonnie00.jpg" alt="Author Joel Hale"  title="the author discussing with AI Ronnie, the main character in the novels, her story arc through the books"
                style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;"/>                                 
            <img src="/media/straddlel.jpg" alt="Author Joel Hale"  title="straddle L at Santa Monica Beach in 1998, NOT AI"
                style="max-width: 100% ; max-height: 400px ; margin-top: 20px ;"/>
               
        </div>
    </div>
    
</div>