
<div class="info-text">
    Ronnie has wealth, languages, and talent to spare. One moment she steps between a bully and a silent, 
    unreadable kid. That action triggers a friendship that launches them into a life neither saw coming. 
    Ronnie pulls Alex out of isolation. He reveals an ability he never knew was extraordinary.<br/><br/>
    Tragedy strikes, and their bond ignites a drive for vengeance. Ronnie and Alex chase justice across the map, 
    gaining allies, facing threats, and uncovering the true reach of their abilities. Soon they’re shutting down criminals, 
    defending the vulnerable, and stepping into a role far bigger than either imagined. Their journey pushes them across the country, 
    forging alliances, taking risks, and helping people wherever they land.
</div>
<div class="book-page">
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2HTM18N" title="purchase on Amazon" target="_blank">
            <div class="book-title">Lost and Found: Family and Friends</div>
            <img src="/media/LostAndFound-FamilyAndFriendsCover01.jpg" alt="Lost and Found: Family and Friends"  />
        </a>
    </div>    
    <div class="book-item">
        <div class="book-title">
            <div>Green Hills - A Song from Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/ScotSong.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and performed it. In the novel, the narrator writes it, but doesn't want credit. Juliette Martin has a hit with it. 
                The images are AI generated. I apologize for my vocals!
            </div>
        </div>   
    </div>
</div>
<div class="book-page">
    <div class="book-item">
        <div class="book-title">
            <div>Stress Relief - From Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/StressRelief.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. In the novel, Juliette Martin writes and performs it as a joke and has a hit with it. 
                The images are AI generated.
            </div>
        </div>   
    </div>
    <div class="book-item">
        <div class="book-title">
            <div>Cheerful Dark Night - From Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/CheerfulDarkNight.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. In the novel, Juliette Martin writes, performs, 
                and has a hit with it.  The images are AI generated.
            </div>
        </div>   
    </div>
</div>
<div class="book-page">
    <div class="book-item">
       <div style="max-width: 95% ; max-height: 400px ; margin-top: 20px ; overflow-y: scroll; text-align: left; background-color: white; padding: 5px;" 
            class="expandable" onclick="ExpandImage(this);">
            <h3>
                Excerpt from <i>Lost and Found: Family and Friends</i>
            </h3>
				We were driving into the late morning sun. Ronnie's bare feet were up on the passenger side of the dashboard. A crossword puzzle was on her thighs, and she was busy filling in the answers.
				<br/><br/>"An eight-letter word for a 'vocal amphibian'?" Ronnie was doing the crossword. I was the designated chauffeur.
				<br/><br/>"Gingrich," I suggested, "Newt Gingrich, he's Speaker of the House. Either that or 'bullfrog'."
				<br/><br/>"Very funny." She rolled her eyes, writing down one of my clever answers. "How about nine letters for 'Famous Bunny Prey'?"
				<br/><br/>"That would be the same answer as for 'Dismembered Emperor' – Bonaparte," I told her.
				<br/><br/>"I get 'bone apart,' but what's with the bunny?" she asked.
				<br/><br/>I was a wealth of useless facts. "Napoleon and his hunting party were supposedly attacked by a vicious horde of bunnies in 1807."
				<br/><br/>"Seriously?"
				<br/><br/>"Yeah. Apparently, Napoleon's chief of staff had arranged a rabbit hunt using 3000 or so tame bunnies. They hadn't been fed, and when released, they hungrily flanked Napoleon's party, hoping for food, probably. Napoleon and his group fled." I laughed. "Eight years before Waterloo, the Emperor of France was routed by bunnies. History's full of missed opportunities."
				<br/><br/>"Napoleon and the Duke of Wellington walk into a bar." Ronnie began another hilarious joke.
				<br/><br/>"Fewer shots this time? Or... Napoleon says, 'charge it?' Or... Wellington orders for both of them, a Waterloo Sunset and a Black Prussian?" My knowledge of mixed drinks came into play.
				<br/><br/>"The Duke says, 'This is awkward.' Napoleon says, 'at least you're not a bunny.'" I guess it was funny in context.
				<br/><br/>"'Religious figure involving bakers' - fourteen letters?" Ronnie went back to working on her crossword.
				<br/><br/>"Bread and Buddha?" I suggested, "Either that or Saint Elizabeth."
				<br/><br/>"Ha HA! Bread and Buddha? This is serious business!" Ronnie smiled at me. "Why Saint Elizabeth?"
				<br/><br/>"Have you forgotten we were good Catholic virgins in Georgetown?" I chided, "Saint Elizabeth is the patron saint of bakers."
        </div>
    </div>
    <div class="book-item"></div>
</div>