<div class="book-page">
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2HTM18N">
            <div class="book-title">Lost and Found: Family and Friends</div>
            <img src="/media/LostAndFound-FamilyAndFriendsCover01.jpg" alt="Lost and Found: Family and Friends"  />
        </a>
    </div>
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2GJCRMB">
            <div class="book-title">Lost and Found: Sisters and Daughters</div>
            <img src="/media/LostAndFound-SistersAndDaughtersCover01.jpg" alt="Lost and Found: Family and Friends" />
        </a>
        <video width="250" height="200" controls>
            <source src="/media/SecondChance.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div>This is a video about a song by one of the characters, Leah, in my second novel, "Lost and Found: Sisters and Daughters." I wrote the lyrics for the song (the song is mentioned in the novel) but had Suno create the vocals and instrumentation according to my specifications. The images are AI generated. I used them like a storyboard as I was writing the novel.</div>
    </div>
</div>