
<div class="info-text">
    Ronnie has wealth, languages, and talent to spare. One moment she steps between a bully and a silent, 
    unreadable kid. That action triggers a friendship that launches them into a life neither saw coming. 
    Ronnie pulls Alex out of isolation. He reveals an ability he never knew was extraordinary.<br/><br/>
    Tragedy strikes, and their bond ignites a drive for vengeance. Ronnie and Alex chase justice across the map, 
    gaining allies, facing threats, and uncovering the true reach of their abilities. Soon they’re shutting down criminals, 
    defending the vulnerable, and stepping into a role far bigger than either imagined. Their journey pushes them across the country, 
    forging alliances, taking risks, and helping people wherever they land.
</div>
<div class="book-page">
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2HTM18N">
            <div class="book-title">Lost and Found: Family and Friends</div>
            <img src="/media/LostAndFound-FamilyAndFriendsCover01.jpg" alt="Lost and Found: Family and Friends"  />
        </a>
    </div>    
    <div class="book-item">
        <div class="book-title">
            <div>Green Hills - A Song from Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/ScotSong.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and performed it. In the novel, the narrator writes it, but doesn't want credit. Juliette Martin has a hit with it. 
                The images are AI generated. I apologize for my vocals!
            </div>
        </div>   
    </div>
</div>
<div class="book-page">
    <div class="book-item">
        <div class="book-title">
            <div>Stress Relief - From Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/StressRelief.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. In the novel, Juliette Martin writes and performs it as a joke and has a hit with it. 
                The images are AI generated.
            </div>
        </div>   
    </div>
    <div class="book-item">
        <div class="book-title">
            <div>Cheerful Dark Night - From Lost and Found: Family and Friends</div>
            <video width="250" height="200" controls>
                <source src="/media/CheerfulDarkNight.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, in my first novel, 
                "Lost and Found: Family and Friends." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. In the novel, Juliette Martin writes, performs, 
                and has a hit with it.  The images are AI generated.
            </div>
        </div>   
    </div>
</div>