<div class="info-text">
    In 1990, 14-year-old Leah awakens to find her mother weeping over the death of her father in a terrorist attack. 
    In 1997, a covert agent posing as a French maid carries out a flawless assassination of a former KGB operative, 
    but one man’s fleeting recognition ensures she can't return to her old identity. Sometimes the family you find 
    becomes the bridge to redemption and home. Sometimes the past doesn't just knock on your door, it bursts through with guns firing. 
    Once an elite assassin, now a woman running from her past, 
    Ronnie discovers that coming home might be the one mission she can’t complete alone.
</div>
<div class="book-page">
    <div class="book-item">        
        <a href="https://www.amazon.com/gp/product/B0G2GJCRMB" title="purchase on Amazon" target="_blank">
            <div class="book-title">Lost and Found: Sisters and Daughters</div>
            <img src="/media/LostAndFound-SistersAndDaughtersCover01.jpg" alt="Lost and Found: Family and Friends" />
        </a>
    </div>
    <div class="book-item">     
        <div class="book-title">
            <div>Second Chance - A Song from Lost and Found: Sisters and Daughters</div>
            <video width="250" height="200" controls>
                <source src="/media/SecondChance.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, Leah, in my second novel, 
                "Lost and Found: Sisters and Daughters." I wrote the lyrics for the song (the song is mentioned in the novel) 
                but had Suno create the vocals and instrumentation according to my specifications. The images are AI generated. 
                I used them like a storyboard as I was writing the novel.
            </div>
        </div>   
    </div>
</div>
<div class="book-page">
    <div class="book-item">
        <div class="book-title">
            <div>The Christmas Tree - From Lost and Found: Sisters and Daughters</div>
            <video width="250" height="200" controls>
                <source src="/media/TheChristmasTree.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video of a song in my second novel, 
                "Lost and Found: Sisters and Daughters." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. 
                In the novel, Leah and Ronnie perform it at Cas del Sol in Gallup, NM. 
                The images are AI generated.
            </div>
        </div>   
    </div>
    <div class="book-item"></div>
</div>