<div class="info-text">
    Spanning decades and generations, the Lost and Found series follows a family bound by love, loyalty, 
    and a secret ability most people only experience by instinct—the power to stretch time in moments that matter most. 
    For Ronnie Clay, already a gifted musician, mastering that control transforms her into a covert operative capable of reshaping fate itself. 
    Alongside Alex Noone and later their daughters, she learns that power is never just a gift, it’s a responsibility that tests every bond 
    they share. Blending espionage, humor, emotional depth, and the quiet strength of women who refuse to yield, 
    the Lost and Found series is a sweeping thriller about family, choice, and the timeless fight to protect what you love.
</div>
<div class="book-page">
    <div class="book-item">
        <a href="https://www.amazon.com/dp/B0G2GSHZ9Z" title="purchase on Amazon" target="_blank">
            <div class="book-title">Lost and Found</div>
            <div class="series-image">
                <img src="/media/LostAndFound-FamilyAndFriendsCover01.jpg" 
                    alt="Lost and Found: Family and Friends" 
                    style="max-width: 50% ;"/>
                <img src="/media/LostAndFound-SistersAndDaughtersCover01.jpg" 
                    alt="Lost and Found: Family and Friends" 
                    style="max-width: 50%;"/>
            </div>
        </a>
    </div>
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2HTM18N" title="purchase on Amazon, Book 1" target="_blank">
            <div class="book-title">Lost and Found: Family and Friends</div>
            <img src="/media/LostAndFound-FamilyAndFriendsCover01.jpg" alt="Lost and Found: Family and Friends"  />
        </a>
        <div class="book-page-button" onclick="loadView('book1.html')">Family and Friends Page</div>
    </div>
    <div class="book-item">
        <a href="https://www.amazon.com/gp/product/B0G2GJCRMB" title="purchase on Amazon, Book 2" target="_blank">
            <div class="book-title">Lost and Found: Sisters and Daughters</div>
            <img src="/media/LostAndFound-SistersAndDaughtersCover01.jpg" alt="Lost and Found: Family and Friends" />
        </a>
        <div class="book-page-button" onclick="loadView('book2.html')">Sisters and Daughters Page</div>
    </div>
</div>