<div class="info-text">
    In 2005, the parents of ten-year-old Robin Ryder are killed when they go next door to check on the neighbors.
    They end up getting killed in an aboted home invasion in the Palms neighborhood of Los Angeles.
    Now an orphan, Robin is an orphan abused in foster care until she is finally sent to a group home. At a federal building
    she happens upon Allison "Alli" Daws, a childhood and high school friend who seemed to be able to accept her with all her faults.
</div>
<div class="book-page">
    <div class="book-item">
        <div title="not yet available">
            <div class="book-title">Lost and Found: Decency and Kindness</div>
            <img src="/media/DecencyAndKindnessCover00.jpg" alt="Lost and Found: Decency and Kindness" width="400" class="expandable"
                style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" onclick="ExpandImage(this);"/>
        </div>
    </div>
    <div class="book-item">
        <iframe width="250" height="200"
            src="https://www.youtube.com/embed/Q1UAZvRW_Ms"
            title="swing dancing"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <div style="font-size: 1.7em;">When a traumatized woman is accused of murder, the only person who believes her is a young attorney whose investigation uncovers a deadly conspiracy among former soldiers who will kill to keep their secrets buried.
            This is a promotional video featuring the two main characters in the novel.
        </div>
    </div>
    <div class="book-item">
        <img src="/media/Gem-AlliDaws01.jpg" alt="Author Joel Hale"  title="Allison Daws" width="400"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
    </div>
</div>
<div class="book-page">
    <div class="book-item">
        <img src="/media/RobinRyder00.jpeg" alt="Author Joel Hale"  title="Robin Ryder" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
        <img src="/media/NaomiHartwell01.jpg" alt="Author Joel Hale"  title="Dr. Naomi Hartwell" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>

    </div>
    <div class="book-item">
        <img src="/media/MeAlliRobin01.jpg" alt="Author Joel Hale"  title="Me walking in the park with Robin and Alli" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
        <img src="/media/MeAlliRobin00.jpg" alt="Author Joel Hale"  title="Me with Robin and Alli discussing the novel" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
    </div>
</div>
<div class="book-page">
    <div class="book-item">
       <div style="max-width: 95% ; max-height: 400px ; margin-top: 20px ; overflow-y: scroll; text-align: left; background-color: white; padding: 5px;"
            class="expandable" onclick="ExpandImage(this);">
            <h3>
                Excerpt from <i>Lost and Found: Decency and Kindnesss</i>
            </h3>
			Late Night Same Friday
            <br /><br />Robin awoke to the sound of yelling next door. Her bedroom was an add-on before her family moved in and was behind the garage. Since the garage was between the rest of the house and the home just to the north, her parents rarely heard anything from the house next door. Robin looked at the clock. The digital display said 11:08. Robin sleepily wandered to the front room where her parents were watching the news.
            <br /><br />"The Paxtons are fighting again," she mumbled, still half asleep. The neighbors to the north quarreled a lot. Robin's parents had often paid a visit to mediate, which, most of the time, was later appreciated.
            <br /><br />Robin's dad said, "It's almost Christmas! Whatever happened to 'Peace on Earth'?"
            <br /><br />"We'd better check in on them before they do something they regret," Mama sighed. "Espéranos tantito, mija. We'll be right back."
            <br /><br />Robin sat on the couch, gradually waking up as the time dragged on. Weren't they supposed to be back? The clock said 11:44. It had never taken longer than ten minutes before. She was getting scared.
            <br /><br />At midnight, she went to the landline, checked the Rolodex and called Alex and Dommi. Alex answered.
            <br /><br />"Hello?" It was Alex.
            <br /><br />"This is Robin," she started. "I'm scared. My parents went next door to check on the neighbors. Usually they're back by now."
            <br /><br />"What's going on with the neighbors?" he asked.
            <br /><br />"They get in loud fights a lot," she told him. "Mama and Papa go over to calm them down."
            <br /><br />"The Paxtons?" Alex replied. "I can go check on them. Dommi will come and stay with you."
            <br /><br />In five minutes or so, there was a knock on the door and Dommi stepped in just as Robin stood up. She came over and sat on the couch next to her and pulled her close. "Alex is checking on them. It's probably nothing." Robin felt safe next to Dommi. The time seemed to drag on.
            <br /><br />After a few minutes, they heard sirens approaching. Pretty soon there were a number of police cars outside with flashing red and blue lights. There was a lot of activity. Robin thought Dommi was worried. She felt her tense up as police cars seemed to arrive.
            <br /><br />Pretty soon Dommi's cellphone rang. "Hello?" she answered.
            <br /><br />"Are you okay, Alex?" Dommi said.
            <br /><br />Robin felt Dommi relax a little and start breathing more easily. She listened for a minute or so and said, "I love you." She put her phone away.
            <br /><br />"What happened?" Robin asked.
            <br /><br />"Something bad happened next door. The police are figuring it out. Someone will come over and talk to us. Alex and I are here for you." She seemed really sad.
            <br /><br />A kind looking Black policeman came in after a while. He looked over at Dommi and Robin. "I'm Officer Brooks. I'm here to make sure you're okay."
            <br /><br /> "I'm Dommi Daws, Alex's girlfriend. This is Robin Ryder, the daughter of the people who live here, Rob and Dottie."
            <br /><br />"Tell me what happened," the policeman said, pulling out a notepad and pen. He looked focused and concerned.
            <br /><br />"Robin called Alex around midnight and wanted him to check on her parents. The neighbors, the Paxtons, often get into loud domestic arguments. Rob and Dottie go over to calm them down. Robin called Alex when they didn't come back."
            <br /><br />"Why did she call Alex specifically?"
            <br /><br />"We know them, we live two houses down. Our kids play together and Robin was staying with us after her day camp while school was out. She's friends with our daughters," Dommi told them.
            <br /><br />"Who's with your daughters now?" asked the policeman.
            <br /><br />"They're asleep at home, Aunt Leah is there," Dommi answered. "She knows where we are."
            <br /><br />"Just tell me the basics for now," the policeman suggested. He seemed careful about what he said.
            <br /><br />"I went directly here to be with Robin," Dommi began. "Alex went directly to the Paxtons. He told me on the phone before you came in he found two perpetrators there and subdued them. I guess he called 911 immediately after that from their house."
            <br /><br />The policeman slowly approached Robin and knelt down a few feet away from her. "Robin," he said kindly, "I'm really sorry this is happening to you. We're going to have someone come and talk to you in a few minutes. You're safe here."
            <br /><br />Robin was really scared and clung harder onto Dommi.
            <br /><br />Five or six minutes later, a woman came in with Alex. She was white, wearing jeans, a cream-colored blouse and a fleece jacket left open. She looked a little tired, but kind. She pulled over a footstool and sat on it about five feet from Robin, a bit to her left. Alex sat down next to Robin.
            <br /><br />"Hi Robin," she began. "I'm Serena. I work with the police. Is it okay to talk with you now?"
            <br /><br />Robin nodded. She was really scared. Dommi held on to her tightly, she felt Alex next to her also.
            <br /><br />"Robin, I'm really sorry to tell you this. Something bad happened next door. Your mom and dad were hurt, and they died."
        </div>
    </div>
    <div class="book-item">
        <img src="/media/RobinAlliOnTheTown02.jpg" alt="Author Joel Hale"  title="Alli and Robin on the town" width="627"
            style="float: left ; max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
        <img src="/media/AlliMotel05.jpg" alt="Author Joel Hale"  title="Alli after a bike trip" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
        <img src="/media/NaomiAlliLab02.jpg" alt="Author Joel Hale"  title="Naomi and Alli in the Lab" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
    </div>
</div>