<div class="info-text">
    In 1990, 14-year-old Leah awakens to find her mother weeping over the death of her father in a terrorist attack. 
    In 1997, a covert agent posing as a French maid carries out a flawless assassination of a former KGB operative, 
    but one man’s fleeting recognition ensures she can't return to her old identity. Sometimes the family you find 
    becomes the bridge to redemption and home. Sometimes the past doesn't just knock on your door, it bursts through with guns firing. 
    Once an elite assassin, now a woman running from her past, 
    Ronnie discovers that coming home might be the one mission she can’t complete alone.
</div>
<div class="book-page">
    <div class="book-item">        
        <a href="https://www.amazon.com/gp/product/B0G2GJCRMB" title="purchase on Amazon" target="_blank">
            <div class="book-title">Lost and Found: Sisters and Daughters</div>
            <img src="/media/LostAndFound-SistersAndDaughtersCover01.jpg" alt="Lost and Found: Family and Friends" />
        </a>
    </div>
    <div class="book-item">     
        <div class="book-title">
            <div>Second Chance - A Song from Lost and Found: Sisters and Daughters</div>
            <video width="250" height="200" controls>
                <source src="/media/SecondChance.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video about a song by one of the characters, Leah, in my second novel, 
                "Lost and Found: Sisters and Daughters." I wrote the lyrics for the song (the song is mentioned in the novel) 
                but had Suno create the vocals and instrumentation according to my specifications. The images are AI generated. 
                I used them like a storyboard as I was writing the novel.
            </div>
        </div>   
    </div>
</div>
<div class="book-page">
    <div class="book-item">
        <div class="book-title">
            <div>The Christmas Tree - From Lost and Found: Sisters and Daughters</div>
            <video width="250" height="200" controls>
                <source src="/media/TheChristmasTree.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div style="font-size:.7em;">This is a video of a song in my second novel, 
                "Lost and Found: Sisters and Daughters." I wrote the lyrics for the song (the song is in the novel) 
                and created the music with Suno according to my specifications. 
                In the novel, Leah and Ronnie perform it at Cas del Sol in Gallup, NM. 
                The images are AI generated.
            </div>
        </div>    
    </div>
    <div class="book-item">
        <img src="/media/AlexRonnieAndMeri.jpg" alt="Author Joel Hale"  title="Alex, with Ronnie and Meri" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
        <img src="/media/AlexDommiAndAlli.jpg" alt="Author Joel Hale"  title="Alex with Dommi and Alli" width="627"
            style="max-width: 45% ; max-height: 400px ; margin-top: 20px ;" class="expandable" onclick="ExpandImage(this);"/>
         
    </div>
</div>
<div class="book-page">
    <div class="book-item">
       <div style="max-width: 95% ; max-height: 400px ; margin-top: 20px ; overflow-y: scroll; text-align: left; background-color: white; padding: 5px;" 
            class="expandable" onclick="ExpandImage(this);">
            <h3>
                Excerpt from <i>Lost and Found: Sisters and Daughters</i><br/><span style="font-size: .6em; margin-top: -4px ;">Name withheld to avoid spoilers</span>
            </h3>
            We took a circuitous route to Vision Venture on Wilshire to make sure we weren’t being followed. Once we got there, I figured I should 
            take Hannah up to meet [<i>name</i>]. We waited in her office while [<i>name</i>] finished up in a meeting. Hannah hadn’t met her yet. 
            She had only talked to her indirectly.
            <br/><br/>[<i>name</i>] knows about you. She thinks you are exceptional,” I told her. “By the way, what is your real name?”
            <br/><br/>“Hortense Clomberbunch,” she told me.
            <br/><br/>“Any relation to the British actor, Benedict Cumberbatch?” I asked her.
            <br/><br/>“We’re sisters,” she told me.
            <br/><br/>“He’s a guy!” I told her, laughing.
            <br/><br/>“That’s what they all think!”
            <br/><br/>“Good to know,” I decided that whoever she was, she was fun.
            <br/><br/>She held out her hand, “Michelle Dressage.”
            <br/><br/>I shook her hand, “Nice to meet you, Michelle!”
            <br/><br/>[<i>name</i>] walked into the office to see Michelle and me holding hands.
            <br/><br/>“You must be Michelle,” [<i>name</i>] exclaimed. “Are you trying to steal my boyfriend, too?”
            <br/><br/>Michelle looked a little flustered, both because of [<i>name</i>]’s charismatic presence, and the confrontational nature of the question. 
            After a second, she realized [<i>name</i>] was kidding. “Who else is trying to steal him?” Part of the problem was that <i>-she-</i> was stressed. 
            She was usually patient and friendly, especially with people she just met.
            <br/><br/>“Sandy!” <i>-she-</i> told her. “I think you know her? She’s shameless around him.”
            <br/><br/>Michelle looked at me then at [<i>name</i>]. I said to Michelle, “I know what you’re thinking. She’s way out of my league!”
            <br/><br/>“I am not!” [<i>name</i>] insisted. Then she looked at me and said, “And don’t you dare tell her that I’m perfect!”
            <br/><br/>I leaned over to Michelle and whispered loudly, “She’s perfect.”
            <br/><br/>[<i>name</i>] put her hand on her hip, shifted her weight and rolled her eyes. 
            “Next time I see you, mister, you’d better have some flowers.”
            <br/><br/>Michelle laughed. “Do you get a lot of flowers?” she asked <i>-her-</i>.
            <br/><br/>“See what I have to put up with?” [<i>name</i>] said, indignantly. “He’s always telling me that I’m perfect and that he loves me!”
            <br/><br/>“That’s pretty awful!” Michelle agreed.
            <br/><br/>[<i>name</i>] noticed Michelle’s plunging neckline. “Was he ogling your breasts?” She asked Michelle.
            <br/><br/>“Not after you walked in,” Michelle said.
        </div>
    </div>
    <div class="book-item"></div>
</div>