
<div class="home-text">
    <img class="right" src="/media/motorcycle00.jpg" alt="Vintage Motorcycle"/>
We are all time travelers, moving forward whether we like it or not. I don't think going back in time is possible, 
but it might be possible to control the speed at which we travel forward through time.<br/><br/>
Ever notice how falling asleep feels like fast-forwarding? One minute you're tired, the next, hours have vanished.<br/><br/>

I remember a motorcycle skid on a mountain road. In that split second, time changed. I felt the tires slip, saw the road, 
the cliff, and somehow managed to steer the bike in mid-broadslide out of danger. 
    <img class="left" src="/media/clock.jpg" alt="Vintage Motorcycle"/>
I ended up sliding into the mountain on the right rather than off the cliff to the left. During panicked seconds I had time to react. 
It felt like the bike was sliding in slow motion, but I was able to react in what felt like normal but must have been in high speed. 
During accidents, many people report time slowing down as their minds sharpen. Scientists say it's due to heightened brain activity, 
our minds trying to make sense of chaos. The perception of time can change in response to stress.<br/><br/>
    
On long motorcycle trips where there could be three hours of steady, monotonous driving at 70-80 mph, I've noticed the time often passes more quickly. What actually may be two hours might seem like ten minutes. The perception of time can change in response to monotony also.<br/><br/>
What if we could control how fast we move through time?

</div>